#content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.single-category {
  min-height: 15rem;
  width: 100%;
  margin-bottom: 2rem;
  border-radius: 4px;
  overflow: hidden;
}

.single-category:hover {
  cursor: pointer;
}

.single-category img {
  color: #9ea6e5;
}

.single-category span {
  font-weight: 500;
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
  width: 100%;
  display: grid;
}

.category-content {
  z-index: 3;
}

.loading-icon {
  z-index: 5;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
}

.edit-category-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  gap: 2rem;
}

.edit-category-container {
  width: 37%;
  height: auto;
  background: #202024;
  padding: 2rem;
  border-radius: 4px;
  display: flex;
  justify-content: start;
  gap: 1rem;
}

.edit-category-container .file-input {
  display: none;
  color: transparent;
  background-color: transparent;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 3;
}

.edit-category-container .file-label {
  width: 100%;
  min-height: 100px;
  max-height: 200px;
  text-align: start;
  overflow: hidden !important;
  cursor: pointer;
  border: 2px dashed grey;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 10px;
  color: grey !important;
  transition: 0.3s ease-in-out;
}

.edit-category-container .file-label:hover .camera-icon {
  animation: icon-animation 0.3s ease-in-out alternate infinite both running;
}

@keyframes icon-animation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.edit-category-container .file-label .camera-icon {
  font-size: 40px;
  color: grey;
  position: relative;
  z-index: 1;
}

.edit-category-container .file-label span {
  font-size: 16px;
  max-width: 100%;
  /* overflow: hidden; */
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  color: #9ea6e5;
  height: 3rem;
  line-height: 1;
  margin-bottom: 0.8rem;
  margin-top: 10px;
}

.edit-category-container #new-category-name {
  color: grey !important;
}

.edit-category-modal .load {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0 auto;
  height: 25px;
}

.edit-category-modal .load div {
  width: 20px;
  height: 20px;
  background-color: #9ea6e5;
  border-radius: 50%;
  margin: 0 5px;
  animation-name: up-and-down;
  animation-duration: 0.7s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.edit-category-modal .load .two {
  animation-delay: 0.3s;
}

.edit-category-modal .load .three {
  animation-delay: 0.6s;
}

@keyframes up-and-down {
  to {
    opacity: 0.2;
    transform: translateY(-5px);
  }
}
