.single-category {
  width: 15rem;
  height: 15rem;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 5px;
}

.overlay-text {
  z-index: 2;
}

.show {
  background-color: rgba(0, 0, 0, 0.6);
}
