.video-card-bg {
  border: none;
  border-radius: 5px;
  height: 37.5rem;
}

.card-img-top {
  object-fit: cover;
  width: 100%;
  /* max-height: 130px; */
  max-height: 18rem;
  object-position: top;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.card-body .card-title {
  height: 2.5rem;
  font-size: 1.34rem;
}

.card-body .card-text {
  color: #949ead;
  font-size: 1.25rem;
  height: 6.5rem;
  overflow: hidden;
  margin-bottom: 0.5rem !important;
}

.watch-button {
  margin: 1rem 1rem !important;
  width: auto !important;
}
